<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>PaymentPageServlet</servlet-name>
		<display-name>PaymentPageServlet</display-name>
		<description></description>
		<servlet-class>com.carserviceapp.servlet.PaymentPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDeleteAccountServlet</servlet-name>
		<display-name>UserDeleteAccountServlet</display-name>
		<description></description>
		<servlet-class>com.carserviceapp.servlet.UserDeleteAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentPageServlet</servlet-name>
		<url-pattern>/PaymentPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDeleteAccountServlet</servlet-name>
		<url-pattern>/UserDeleteAccountServlet</url-pattern>
	</servlet-mapping>
	

<welcome-file-list>
<welcome-file>Index.jsp</welcome-file>
</welcome-file-list>
</web-app>